In [29]:
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [23]:
import numpy as np

In [30]:
a=True
type(a)

bool

In [31]:
A='1234567'

In [33]:
A[::2]

'1357'

In [34]:
Name="Michael Jackson"

In [35]:
Name.find('el')

5

In [36]:
tuple1=("A","B","C")
tuple1[-1]

'C'

In [37]:
A=((11,12),[21,22])
A[0][1]

12

In [38]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [39]:
A=[1,'a'] 
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

In [42]:
a=set(A)

In [43]:
type(a)

set

In [44]:
V={'A','B'}
V.add('C')

In [45]:
V

{'A', 'B', 'C'}

In [48]:
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)
p2=Points(1,2)
p2.x=2
p2.print_point()

x= 2  y= 2