# Tuples

Tuples are groups of data, In which the type of data need not be similar

In [2]:
a=('hi',2,3.14,False)

In [3]:
type(a)

tuple

In [5]:
len(a)

4

In [10]:
print(a+a)
print(2*a)

('hi', 2, 3.14, False, 'hi', 2, 3.14, False)
('hi', 2, 3.14, False, 'hi', 2, 3.14, False)

In [13]:
a[1]

2

### Immutable

In [18]:
a[1]='hellow world'

TypeError: 'tuple' object does not support item assignment

### Nested Tuples

In [17]:
b=('one',('two',3),4,(5,(6,(7)),8),9)
b

('one', ('two', 3), 4, (5, (6, 7), 8), 9)

In [30]:
c=(1,[2,3],4)
c

(1, [2, 3], 4)

# Lists

Unlike Tuples, List are mutable

In [68]:
a=['hi',2,3.14,False]
a

['hi', 2, 3.14, False]

In [69]:
type(a)

list

In [22]:
a[3]

False

In [24]:
b=['one',['two',3],4,[5,[6,[7]],8],9]
b

['one', ['two', 3], 4, [5, [6, [7]], 8], 9]

In [32]:
c=[1,(2,3),4]
c

[1, (2, 3), 4]

In [35]:
#mutable
c[1]=(1,2,3)
c

[1, (1, 2, 3), 4]

# Dictionary

Consists of Key index Pairs. Keys are unique and Immutable. values are can be mutable and non-unique

In [70]:
a = {
    "a":1,
    "b":2,
    "c":3
}
a

{'a': 1, 'b': 2, 'c': 3}

In [71]:
type(a)

dict

### Nested

In [64]:
b={
    "a":{
        "b":1
    },
    "c":2
}
b

{'a': {'b': 1}, 'c': 2}

In [65]:
b["d"]='new'
b["a"]["b"]='changed'
b

{'a': {'b': 'changed'}, 'c': 2, 'd': 'new'}

# Sets

They don't have any key value pair, Duplicate values will be removed on insertion <br>
No nested sets

In [72]:
a={1,2,3}

{1, 2, 3}

In [73]:
type(a)

set

In [75]:
a.add('3')
a

{1, 2, 3, '3'}

In [76]:
a.add(3)
a

{1, 2, 3, '3'}

In [77]:
a.remove('3')
a

{1, 2, 3}

### Checking values

In [78]:
1 in a

True

In [79]:
a.add('check')
print(a)
'check' in a

{1, 2, 3, 'check'}

True

### Conversion of List to Set

In [88]:
c=[3,4,5]
print(c)
c=set(c)
c

[3, 4, 5]

{3, 4, 5}

### Union

In [92]:
print(a)
print(c)
a.union(c)

{1, 2, 3, 'check'}
{3, 4, 5}

{1, 2, 3, 4, 5, 'check'}

### Intersection

In [89]:
print(a)
print(c)
a&c

{1, 2, 3, 'check'}
{3, 4, 5}

{3}

### Checking for Subsets

In [94]:
print(a)
print(c)
c.issubset(a)

{1, 2, 3, 'check'}
{3, 4, 5}

False

In [96]:
print(a)
print(b)
b.issubset(a)

{1, 2, 3, 'check'}
{1, 2, 3}

True