In [13]:
import pandas as pd
import requests
import io

### Data Defnition

#### Create Dataframe

In [24]:
data = {'First Column Name':  ['First value', 'Second value'],
        'Second Column Name': ['First value', 'Second value']
        }

df = pd.DataFrame (data, columns = ['First Column Name','Second Column Name'])
df.head()

  First Column Name Second Column Name
0       First value        First value
1      Second value       Second value

#### Add Data from Source

In [23]:
#read from csv
url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-03-2020.csv'
data=requests.get(url,verify=False).content
df=pd.read_csv(io.StringIO(data.decode('utf8')))
df.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-03 22:46:37,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-03 22:46:37,30.295065,-92.414197,72,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-03 22:46:37,37.767072,-75.632346,8,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-03 22:46:37,43.452658,-116.241552,307,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-03 22:46:37,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [25]:
#read from Json
url='https://api.covid19api.com/country/India/status/confirmed'
data=requests.get(url,verify=False).content
df=pd.read_json(io.StringIO(data.decode('utf8')))
df.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

  Country CountryCode  Lat  Lon  Cases     Status                      Date
0   India          IN   21   78      0  confirmed 2020-01-22 00:00:00+00:00
1   India          IN   21   78      0  confirmed 2020-01-23 00:00:00+00:00
2   India          IN   21   78      0  confirmed 2020-01-24 00:00:00+00:00
3   India          IN   21   78      0  confirmed 2020-01-25 00:00:00+00:00
4   India          IN   21   78      0  confirmed 2020-01-26 00:00:00+00:00

#### Describe DataFrame

In [48]:
# number of rows and columns
print('\nNumber of rows',df.shape[0],' and number of columns columns',df.shape[1])
# list out the column names
print('\nColumns of DF is \n',df.columns)
#Describe the dataFrame
print('\nSome basic facts about the dataframe\n',df.describe())

Number of rows 72  and number of columns columns 7

Columns of DF is
 Index(['Country', 'CountryCode', 'Lat', 'Lon', 'Cases', 'Status', 'Date'], dtype='object')

Some basic facts about the dataframe
         Lat   Lon        Cases
count  72.0  72.0    72.000000
mean   21.0  78.0   206.652778
std     0.0   0.0   469.910095
min    21.0  78.0     0.000000
25%    21.0  78.0     3.000000
50%    21.0  78.0     3.000000
75%    21.0  78.0   114.500000
max    21.0  78.0  2543.000000

#### Alter DataFrame

In [75]:
# Drop Column/Columns
#df=df.drop(['Lat','Lon'],axis=1)


#Insert Column
df['New_column']='New Column value' # or ['val1','val2',.....'valn'] =? n upto number of rows

#change Column Name
df=df.rename(columns={'CountryCode':'code',"Status":'stat'})


print('Updated Column Names are\n',df.columns)
print('\n',df.head())

Updated Column Names are
 Index(['Country', 'code', 'Cases', 'stat', 'Date', 'New_column'], dtype='object')

   Country code  Cases       stat                      Date        New_column
0   India   IN      0  confirmed 2020-01-22 00:00:00+00:00  New Column value
1   India   IN      0  confirmed 2020-01-23 00:00:00+00:00  New Column value
2   India   IN      0  confirmed 2020-01-24 00:00:00+00:00  New Column value
3   India   IN      0  confirmed 2020-01-25 00:00:00+00:00  New Column value
4   India   IN      0  confirmed 2020-01-26 00:00:00+00:00  New Column value

In [104]:
del df['New_column']
df

TypeError: 'str' object does not support item deletion

### Data Manipulation

In [105]:
# Add data into dataframe 
temp=pd.DataFrame({
    "Country":'India',
    "code":'IN',
    "Cases":'00,
    "stat":'Check",
    "Date":2020-04-04 00:00:00+00:00,
    "New_column":"Updated"
},index=[0])
#df=df.append(temp)
print('Newly added row in DF\n',df[df.stat=='Check'])

SyntaxError: invalid token (<ipython-input-105-95d15098f539>, line 7)

In [97]:
# Read Data


#select unique values from a columns
print('\nNumber of unique values for "Cases"\n',df.Cases.unique())

#select data on condition
print('\nThe row of data where value of Cases was 28\n',df[df.Cases==28])

#select data on multiple conditions
print('\nThe row of data where value of Cases was 28 and Stat="confirmed"\n',df[(df.Cases==28) & (df.stat=='confirmed')])

Number of unique values for "Cases"
 [0 1 2 3 5 28 30 31 34 39 43 56 62 73 82 102 113 119 142 156 194 244 330
 396 499 536 657 727 887 987 1024 1251 1397 1998 2543 '00']

The row of data where value of Cases was 28
    Country code Cases       stat                       Date        New_column
42   India   IN    28  confirmed  2020-03-04 00:00:00+00:00  New Column value

The row of data where value of Cases was 28 and Stat="confirmed"
    Country code Cases       stat                       Date        New_column
42   India   IN    28  confirmed  2020-03-04 00:00:00+00:00  New Column value

In [103]:
#Update Data

#Update the Entire column
df['stat']='Confirmed'
print('New Column after changing all \n',df.head())

TypeError: 'str' object does not support item assignment

In [47]:
#number of unique values for 'Cases'

Number of unique values for "Cases"
 [   0    1    2    3    5   28   30   31   34   39   43   56   62   73
   82  102  113  119  142  156  194  244  330  396  499  536  657  727
  887  987 1024 1251 1397 1998 2543]